node_modules

index.js

README.md
build/
tex/
oldtex/

.gitignore
Dockerfile

# Ignore all .log except all logs in the logs folder
*.log
!logs/*.log

*.aux
*.fls
*.fdb_latexmk
*.synctex.gz

main.zip
dsekdocs-main